:root {
  --mainGrey: #F4F4F4;
  --lightGrey: #F8F8F8;
  --mainWhite: #FFFFFF;
  --mainDark: #212121;
  /* --mainCol: #42cc8c; */
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  text-transform: uppercase;
}

.canvas-container {
  position: relative;
  display: flex;
  min-height: 75vh;
}

canvas {
  width: 100%;
  flex: 1;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-touch-action: none;
  touch-action: pan-y;
  image-rendering: -webkit-optimize-contrast;
}
