:root {
  --mainGrey: #F4F4F4;
  --lightGrey: #F8F8F8;
  --mainWhite: #FFFFFF;
  --mainDark: #212121;
  --mainButton: #6c757d;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  text-transform: uppercase;
}

.bag-icon {
  color: var(--mainButton);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bag-icon:hover {
    color: #535a5f;
}

.cart-img {
  width: 10rem;
  height: 5rem;
}

.btn-cart {
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-cart:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainButton);
}

.order-summary-container {
  background: var(--mainGrey);
}

@media (min-width: 992px) {
  .vertical-align-content {
    display:flex;
    align-items:center;
  }
}